.details {
  display: flex;
  flex-direction: column;
}

.side-view{
  display: grid;
  grid-template-columns: 200px auto 1px;
}

.details__left {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
}

.details__header {
  display: flex;
  border: 1px solid whitesmoke;
}
/* .details__middleheader {
  
  border-bottom: 1px solid whitesmoke;
} */
.details__msg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 1.5px #ccc;
  /* height: 100%; */
}
.details__middleheaderleft {
  display: flex;
  align-items: center;
}

.details__middleheaderRight {
  display: flex;
  align-items: center;
}

.details__middleheader svg {
  font-size: 18px;
}

.details__middleheaderleft h4 {
  margin-right: 10px;
}

.details__middleheaderleft p {
  font-size: 14px;
}

.details__body {
  display: flex;
  padding: 0px 15px;
  box-shadow: 0px 0px 3px #ccc;
   height: 100%;
}
